.main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    color: var(--primary-text-color);
    width: 250px;
    padding: 20px;
    z-index: 1000;
    transition: all 0.3s;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &__navigation {
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                display: flex;
                align-items: center;
                gap: 10px;

                &.active {
                    color: var(--primary-color);
                }
            }
        }
    }

    &__profile {
        display: flex;
        gap: 10px;
        align-items: center;

        .image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        span {
            line-height: 100%;
        }
    }

    &__footer {
        width: 90%;
        margin: 0 auto;

        &__toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--primary-text-color);

            .switch {
                position: relative;
                height: 20px;

                input {
                    -webkit-appearance: none;
                    appearance: none;
                    position: absolute;

                    &:checked + .slider {
                        &::before {
                            background-color: var(--primary-color);
                            left: 22px;
                        }
                    }
                }

                .slider {
                    display: inline-block;
                    width: 40px;
                    height: 20px;
                    background-color: var(--secondary-background-color);
                    border-radius: 16px;
                    transition: 0.3s;
                    position: relative;
                    cursor: pointer;

                    &::before {
                        content: "";
                        background-color: var(--secondary-text-color);
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        border-radius: 50%;
                        top: 2px;
                        left: 2px;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    hr {
        height: 1px;
        width: 100%;
        border: none;
        background-color: var(--secondary-text-color);
        margin: 10px auto;
    }
}
