.nav-with-notification__li {
    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__display {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__count {
        span {
            color: var(--primary-text-color);
            font-size: 12px;
            line-height: 12px;
            width: 20px;
            height: 20px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background-color: var(--primary-color);
        }
    }
}
